.property-list-wrapper {
  width: 100%;
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  > .property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
}

.image-wrapper {
  max-width: 250px;
  max-height: 160px;

  @media (max-width: 1200px) {
    align-self: center;
  }

  > span {
    position: relative;
    top: -35px;
    left: 10px;
    background-color: #ff593caf;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 600;
  }
}

.add-property-button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px 0px #00000040;
  max-height: 44px;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.private-offers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  gap: 8px;

  > .private-offers-text {
    font-size: 0.8rem;
    color: #4b5563;
    font-weight: 600;
  }
}
